<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Login Test Page</title>
</head>
<body>
    <button onclick="getLocationHref()">구글 로그인</button>

    <script>
        function getLocationHref() {
            return location.href = `${window.location.origin}/oauth2/authorization/google`;
        }
    </script>
</body>
</html>